header {
	border-top: 5px solid #444;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 30px;
	height: 95px;
}

.wrapper {
	width: 950px;
	padding-right: 30px;
	margin: 0 auto 0 auto;
}

.clearfix {
	clear: both;
}

#user {
	float: right;
	text-align: center;
	background-color: #444;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

#user a {
	color: #fff;
}

#userNav {
	display: none;
}

.logo {
	display: inline-block;
	float: left;
	margin-left: 28px;
	margin-top: 26px;
	height: auto;
}

header nav {
	display: inline-block;
	float: right;
	margin-top: 40px;
	font-size: 15px;
	text-transform: uppercase;
}

header nav > ul > li {
	display: inline-block;
	margin-right: 10px;
}

header nav > ul > li:last-child {
	margin-right: 0px;
}

header nav > ul > li > a {
	padding: 9px 10px 9px 10px;
	color: #444;
}

.current a {
	color: #FFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #567eb9;
}

.pageNotFoundError {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
}

.pageNotFoundError {
	text-align: center;
}

fieldset > input {
	display: block;
}
